<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Smart-Agriculture Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="../static/style.css" th:href="@{/style.css}" />
</head>
    <body onLoad="setInterval(refreshData, 1500)">
    <div id="sensorWrapper" style="width:100%; height:100%;">
        <div class="titleBar">
            <img src="icon.png" style="width:40px; height:40px;" alt=""/>
        	Smart Agriculture Dashboard
        </div>
        <table style="display: inline-block" id="sensorTable">
            <thead style="font-weight:bold;">
                <tr>
                    <th>SENSOR</th>
                    <th>IP</th>
                    <th>TYPE</th>
                    <th>RESOURCE</th>
                    <th>VALUE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="node: ${nodes}" th:nodeIP="${node.nodeIP}" onmouseover="getAssociatedNodes(this.getAttribute('nodeIP'), 'actuatorTable')">
                    <td th:utext="${node.nodeName}"></td>
                    <td th:utext="${node.nodeIP}"></td>
                    <td th:utext="${node.nodeType}"></td>
                    <td th:utext="${node.nodeResource}"></td>
                    <td th:utext="${node.currentValue}"></td>
                </tr>
            </tbody>
        </table>
                <script type="text/javascript" th:inline="javascript">
                    function changeStatus(ip, resource, status) {
                        var url = "/updateStatus"+"?ip="+ip+"&resource="+resource+"&status="+status; //test with "on" hardcoded
                        //$('#actuatorDiv').load(url);
                        $.ajax({
                            'url' : url
                        });
                    }

                    function getAssociatedNodes(ip, tableID) {
                        $.ajax({
                            'url' : "/associatedNodes?ip="+ip,
                            success: function(data) {
                                data = data.replace("[", ""); //remove useless char
                                data = data.replace("]", ""); //remove useless char
                                var ipAddresses = data.split(", ");
                                var table = document.getElementById(tableID);
                                for(var i = 1, row; row = table.rows[i]; i++) { //i=1 because we skip title row
                                    for(var j = 0; j<ipAddresses.length; j++) {
                                        if (row.cells[1].textContent === ipAddresses[j]) {
                                            row.style.setProperty("background-color", "lightsalmon");
                                        }
                                    }
                                }
                            }
                        });
                    }

                    function refreshData() { $('#sensorWrapper').load("/refreshSensors"); }
                </script>
        <table style="display: inline-block;" id="actuatorTable">
            <thead style="font-weight:bold;">
            <tr>
                <th>ACTUATOR</th>
                <th>IP</th>
                <th>TYPE</th>
                <th>RESOURCE</th>
                <th>STATUS</th>
                <th>COMMAND</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="actuator: ${actuators}" th:nodeIP="${actuator.nodeIP}" onmouseover="getAssociatedNodes(this.getAttribute('nodeIP'), 'sensorTable')">
                <td th:utext="${actuator.nodeName}"></td>
                <td th:utext="${actuator.nodeIP}"></td>
                <td th:utext="${actuator.nodeType}"></td>
                <td th:utext="${actuator.nodeResource}"></td>
                <td th:if="${actuator.currentValue.equals('1')}" class="onButton">ON</td>
                <td th:if="${actuator.currentValue.equals('0')}" class="offButton">OFF</td>
                <td th:if="${actuator.currentValue.equals('0')}" ><button class="" th:nodeIP="${actuator.nodeIP}" th:nodeResource="${actuator.nodeResource}" onclick="changeStatus(this.getAttribute('nodeIP'), this.getAttribute('nodeResource'), 'on')">Activate</button></td>
                <td th:if="${actuator.currentValue.equals('1')}"><button class="" th:nodeIP="${actuator.nodeIP}" th:nodeResource="${actuator.nodeResource}" onclick="changeStatus(this.getAttribute('nodeIP'), this.getAttribute('nodeResource'), 'off')">Deactivate</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>
